* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  --color-verde: rgb(0, 221, 0);
  --color-verdeOscuro: rgb(0, 128, 38);
}
html {
  font-size: 62.5%;
}
/* font-family: 'Bebas Neue', cursive;
font-family: 'Lexend Deca', sans-serif; */

/* HEADER---------------------------------------------------- */
header {
  width: 100vw;
  height: 50vh;
}
.container-menu {
  width: 100vw;
  height: 5rem;
  background-color: aqua;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.container-menu a {
  font-size: 1.6rem;
  margin: 0 20px;
  text-decoration: none;
  font-family: "Lexend Deca", sans-serif;
}
